<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% include shared/styles.html %}

    <!-- CDN Scripts -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- build:js({app,.tmp}) /scripts/jquery.js -->
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) /scripts/modernizr.js -->
    <script src="/vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include shared/header.html %}
    <div class="background">
      <a class="js-hero" href="#"><h1 class="hero" id="#hero">The Still, Small Voice</h1></a>
      <div class="content-primary js-content-primary">
        {{ content }}
      </div>
    </div>
    {% include shared/footer.html %}

    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}
  </body>
</html>
