/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

body, html {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.header-primary {}

.nav-primary {}

.content-primary {
  background: url(../images/tssv1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.hero {
  color: white;
  font-size: 5em;
  font-weight: 100;
  left: 1.5em;
  opacity: 0.6;
  position: relative;
  top: 45%;

  &:hover {
  	opacity: 0.8;
  }

  @include media($tablet-down) {
  	font-size: 2em;
  	left: 0;
  	text-align: center;
  }
}

.footer-primary {}
