@font-face {
  font-family: Amatic-Regular;
  src: url(../fonts/amatic/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: AngleciaProDisplay-Regular;
  src: url(../fonts/angleciaprodisplay/AngleciaProDisplay-Regular-webfont.ttf);
}

@font-face {
  font-family: EratoLight-Regular;
  src: url(../fonts/erato/EratoReg-webfont.ttf);
}
