.nav-primary {
  display: inline-block;
  height: 4em;
  padding: 1em;
  width: 100%;
  @include background-opacity($base-link-color, 0.9);

  @include media($desktop-large) {
    height: 4.2em;
  }

  ul li {
    @include media($desktop) {
      margin: 0 0.5em;
    }
  }

  ul li:hover {
    border-bottom: 1px solid $white;

    > ul {
      display:list-item;
    }
  }

  // Dropdown
  ul ul {
    display: none;
    padding-top: 1em;
    position: absolute;
    text-align: left;
    // top: 3.3em;

    li {
      display: block;
      float:none;
      padding-top: 1em;
      position: relative;
      right: 0.5em;
      @include background-opacity($base-link-color, 0.9);

      &:first-child {
        padding-top: 0.3em;
      }

      &:last-child {
        padding-bottom: 1em;
      }

      &:hover {
        border-bottom: 0;
      }
    }
  }

  a {
    color: $white;
    display: block;
    font-size: 1.5em;
    opacity: 0.8;
    padding: 0 0.3em;

    @include media($tablet) {
      padding: 0 1em;
    }

    &:hover {
      opacity: 1;
    }
  }
}
