<header id="header-primary" class="header-primary">
  <nav id="nav-primary" class="nav-primary">
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Booking</a>
      </li>
      <li>
        <a href="#">Tour</a>
      </li>
      <li>
        <a href="#">Merch</a>
      </li>
    </ul>
  </nav>

  <nav id="nav-social" class="nav-social">
    <ul>
      <li>
        <a href="#">Connect v</a>
        <ul>
          <li>
            <a href="#">Instagram</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Reverbnation</a>
          </li>
          <li>
            <a href="#">Noisetrade</a>
          </li>
          <li>
            <a href="#">YouTube</a>
          </li>
          <li>
            <a href="#">Mailing List</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </li>
      <!-- This will be a dropdown.  It will have Instagram, Twitter, Reverbnation, Noisetrade, YouTube, Mailing List, Contact (mailto link) -->
    </ul>
  </nav>
</header>
