<header id="header-primary" class="header-primary">
  <nav id="nav-primary" class="nav-primary">
    <ul>
      <li>
        <a class="js-link-about" href="#">About</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Tour</a>
      </li>
      <li>
        <a href="#">Merch</a>
      </li>
      <li>
        <a href="#">Connect</a>
        <ul>
          <li>
            <a href="http://instagram.com/tssvband/">Instagram</a>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/artist/the-still-small-voice/id653054380">iTunes</a>
          </li>
          <li>
            <a href="http://www.reverbnation.com/thestillsmallvoice">Reverbnation</a>
          </li>
          <li>
            <a href="https://play.spotify.com/artist/4hIqFKNuT5w0Dx1k7b8Wpx">Spotify</a>
          </li>
          <li>
            <a href="The-Still-Small-Voice.Tumblr.com">Tumblr</a>
          </li>
          <li>
            <a href="https://twitter.com/TSSVband">Twitter</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
